<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
         crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <title>Kansas City Public Library Bookmobile Live Route</title>
</head>
<body>
  <h1>Bookmobile Live Route</h1>  
  <div id="mapid" style="width:900px; height: 580px"></div>

  <script>
    var mymap = L.map('mapid').setView([39.070301, -94.553131], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'Access token here'
    }).addTo(mymap);

    mapMarkers1 = [];
    mapMarkers2 = [];
    mapMarkers3 = [];

    var source = new EventSource('/topic/busdata1');
    source.addEventListener('message', function(e){

      console.log('Message');
      obj = JSON.parse(e.data);
      console.log(obj);

      if(obj.busline = '00001') {
        for (var i =0; i < mapMarkers1.length; i++) {
          mymap.removeLayer(mapMarkers1[i]);

        }
        marker1 = L.marker([obj.latitude, obj.longitude]).addTo(mymap);
        mapMarkers1.push(marker1);
      }

      if(obj.busline = '00002') {
        for (var i =0; i < mapMarkers1.length; i++) {
          mymap.removeLayer(mapMarkers2[i]);

        }
        marker2 = L.marker([obj.latitude, obj.longitude]).addTo(mymap);
        mapMarkers2.push(marker2);
      }

      if(obj.busline = '00003') {
        for (var i =0; i < mapMarkers3.length; i++) {
          mymap.removeLayer(mapMarkers1[i]);

        }
        marker3 = L.marker([obj.latitude, obj.longitude]).addTo(mymap);
        mapMarkers3.push(marker3);
      }
    }, false);
  </script>
</body>
</html>


